.availibility {
  height: 100%;

  &__title {
    margin-bottom: 0;
  }
  
  &__box {
    background: url('../../images/Website_Platforms_MacWindowsLinux.png') no-repeat center center;
    background-size: contain;
    margin-bottom: $spacing-bottom-small;
    min-height: 8rem;
    width: 100%;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $spacing-bottom-small;

    &:hover {
      
    }
  }

  &__soon {
    font-style: italic;
  }

  &__gif {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: $spacing-bottom-small;
    min-height: 8rem;
    width: 100%;
  }
}