.nav {
  $self: &;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color ease-out;
  z-index: 5;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 $spacing-small;

    &:hover {
      cursor: pointer;

      #{$self}__link-text {
        color: $color-puple-light;
      }
    }
  }

  &__link-text {
    color: $color-white;
    font-size: 2.6rem;
    text-decoration: none;

    &--active {
      color: $color-puple-light;
    }
  }

  &__logo {
    display: block;
    height: $spacing-big;
    width: $spacing-big;
    margin: 0 $spacing-small;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--sticky {
    background-color: rgba(255,255,255,0.9);
    animation: slideInDown 0.4s cubic-bezier(0.11, 0.28, 0.58, 1);
    box-shadow: none;
    box-sizing: border-box;
    border-bottom: 0.2rem solid rgba(255,255,255, 0.6);

    #{$self}__link-text {
      color: $color-puple-light;

      &:hover {
        color: $color-pink-dark;
      }
    }
  }
}