.quote-block {
  
  &__text {
    font-size: $font-size-h2;
    max-width: 80%;
    
    margin: $spacing-big auto;

    &::before {
      content: '" ';
    }

    &::after{
      content: ' "';
    }
  }
}