.quote-block {
  
  &__devider {
    border-top: 0.4rem solid $color-white;
  }
  
  &__text {
    margin: 4rem 0;

    &::before {
      content: '" ';
    }

    &::after{
      content: ' "';
    }
  }
}