.text-block {
  min-height: 40rem;

  &__title {
    text-align: center;
  }

  &__intro {
   font-size: $font-size-h4;
  }

  &__paragraph {
    margin-top: $spacing-small;
    column-count: 2;
  }
}