@font-face {
  font-family: 'KBCloudyDay';
  src: local('KBCloudyDay'), url(../../fonts/KBCloudyDay/KBCloudyDay_AllText.ttf) format('truetype');
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'KBCloudyDay', sans-serif;
  background-color: $color-orange;
  user-select: none;
}

ol,
ul,
li {
  color: $color-white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: 'KBCloudyDay', sans-serif;
  color: $color-white;
}

h1 {
  font-size: 5.4rem;
  font-weight: 700;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

p,
span {
  font-size: 1.8rem;
  margin: 0;
}

.wrap {
  width: 80%;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 2rem;
  border-radius: 1.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-puple-light;
  border-radius: 1.2rem;
}