.button {
  height: 100%;
  width: 100%;
  position: relative;
  background:no-repeat url('../../images/UI_StartMenu_BTN.png') center center;
  background-size: contain;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;


  &__text {
    color: $color-brown;
    font-size: 2.4rem;
    margin: 0 auto;
    padding: 2rem 0.5rem 2.5rem 0.5rem;

    &:hover {
      color: $color-puple-light;
      transition: color 0.2s ease-in;
    }
  }
}