.button {
  $self: &;

  height: 100%;
  width: 100%;
  position: relative;
  background:no-repeat url('../../images/UI_StartMenu_BTN.png') center center;
  background-size: contain;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform .2s ease-in-out;

  &:hover {
   transform: scale(1.05);

   #{$self}__text {
    &:hover {
      color: $color-white;
      transition: color 0.2s ease-in;
    }
   }
  }


  &__text {
    color: $color-brown;
    font-size: $font-size-h4;
    margin: 0 auto;
    padding: $spacing-small 0.5rem 2.5rem 0.5rem;
  }
}