.devider {
  background: url('../../images/Website_Line.png') no-repeat center center;
  background-size: contain;
  margin-top: $spacing-extra-samll;
  height: $spacing-small;
  width: 100%;
  margin-bottom: $spacing-bottom-small;
}