.platform-button {
  margin: $spacing-extra-samll;

  &__icon {
    height: 8rem;
    width: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}