.socials {
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: block;
    margin: $spacing-small;
    height: $spacing-big;
    width: $spacing-big;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  svg {
    fill: #ffffff;
    &:hover {
      fill: invert($color: #000000);
    }
  }
}